<div id="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-header">Punters Bot</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel-body">
        Create a market filter
        <%= render 'market_filter/form' %>
      </div>
    </div>
  </div>

</div>


