/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require font-awesome
 *= require_tree .
//= require_tree ../../../lib/assets/stylesheets

*/

@import "bootstrap";
@import "bootstrap-sprockets";

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.row {
    margin: 10px;
}

.bold {
  font-weight: 800;
}

#spinner {
    position: absolute;
    left: 35%;
    top: 35%;
    display: block;     
    z-index: 110;
}

#loadingOverlay {
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 100;
    display: block;
    background: rgba(0, 0, 0, 0.2);
}
