<div class="row">
  <div class="col-md-12">
    <div class="panel panel-danger">
      <div class="panel-heading">
        No matching races found
      </div>
      <div class="panel-body">
        <div class="summary row">
          Try changing your Market and runner search criteria to get results
        </div>
      </div>
    </div>
  </div>
</div>

